@use '../abstracts/mixins';
@use '../abstracts/variables';

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.5),
      rgba(variables.$color-primary-dark, 0.5)
    ),
    url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5rm),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5rm),
    (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba(variables.$color-primary-light, 0.5),
        rgba(variables.$color-primary-dark, 0.5)
      ),
      url("../img/hero.jpg");
  }

  @include mixins.respond(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  @include mixins.respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
    transition-duration: 0.6s;
    transform: scale(1);
  }

  &__logo:hover {
    transform: scale(1.5);
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    /* outline: 1px solid red; */
  }
}
